@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #b1ce68;
  --background-end-rgb: #89a04d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #b1ce68;
}

.tag {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #8e9e44;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  margin-left: -30px;
  margin-top: -15px;
  box-shadow: 0 0 5px #333;
}